@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#calendar {
  animation: slideUp 0.3s ease-in;
  height: 95vh;
}

#calendar .fc-event .fc-bg {
  opacity: 0;
}

#calendar .fc-right {
  display: none;
}

#calendar .fc-toolbar.fc-header-toolbar {
  display: flex;
  justify-content: center;
  color: var(--calendarColor);
  font-family: "Montserrat";
}

#calendar thead {
  border-color: var(--calendarColor);
}

#calendar th {
  color: var(--calendarColor);
  border-color: var(--calendarColor);
}

.fc-row.fc-widget-header {
  border-color: var(--color);
}

#calendar td {
  border-color: var(--calendarColor);
}

#calendar table tr td span {
  color: var(--calendarColor);
}

#calendar td.fc-today {
  /*background: rgba(167, 255, 234, 0.979) !important;*/
  background: transparent;
}

#calendar .fc-event {
  background: #f50057;
  padding: 5px;
  border-radius: 0;
  border: none;
  font-family: "Open Sans";
}

#calendar .fc-event .fc-time span{
  color:white;
}