body {
  font-family: "Open Sans";
}

:root {
  --calendarColor: gray;
}

.App {
  /*background: url("assets/check_size.jpg") no-repeat center center fixed;*/
  background-color: powderblue;
  background-size: cover;
}

.flex {
  display: flex;
}

.flex > * {
  margin: 5px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 30px;
  align-items: flex-start;
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5px;
}

.white-select {
  color: white !important;
}

.white-select * {
  color: white !important;
}

.white-select *:after {
  border-color: white !important;
}

.MuiInput-underline-169:before {
  border-color: #eee !important;
}

.MuiInput-underline-169:after {
  border-color: white !important;
}

.new-calendar-btn {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
